// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much
#content {
  margin-right: 0;
  padding: 0 5% 0 5%;
}

ul {
  margin-left: 2em;
}

.hentry {
  clear: both;
}

body #content > div > article {
  padding: 0;
}

.meta {
  font-size: 0.8em;
}

article header {
  margin-bottom: 0em;
}

h1 {
  font-size: 2.3em;
}

h1, h2, h3, h4 {
  font-family: 'helvetica', sans-serif;
  font-weight: normal;
}

body {
  margin: 0;
  max-width: none;
}

body > nav {
  background-color: #555;
  color: #eee;
  border: 0;

  a {
    color: #eee;

    &:visited {
      color: #eee;
    }
  }
}

body #content > div > section {
  padding: 0;
}
